<h1>---------------------------------------------Player Deletion Page----------------------------------------------</h1>


<h2>The player you have selected ** <%= player.name %> ** has been successfully deleted <br> </h2>

