<h1>---------------------------------------------Player Added Page----------------------------------------------</h1>


<h2>The player you have selected ** <%= player.name %> ** has been successfully added <br> </h2>

